<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

	<!-- 系统初始化BO -->
	<bean id="systemInfoBO" class="com.huateng.framework.servlet.SystemInfoBO" />
	<!-- 通用DAO定义 -->
	<bean id="commonsDAO" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.huateng.framework.dao.impl.CommonDAOImpl">
			</bean>
		</property>
	</bean>

	<bean id="attachDAO"
		class="com.huateng.framework.ibatis.dao.AttachDAOImpl"></bean>
	<bean id="baseDAO" class="com.huateng.framework.dao.impl.BaseDAOIbatisImpl" />
	<bean id="pageQueryDAO" class="com.huateng.framework.dao.impl.PageQueryDAOImpl" />

	<bean id="roleDAO"
		class="com.huateng.univer.system.role.integration.dao.impl.RoleServiceDAOImpl" />

	<bean id="roleResourceDAO" class="com.huateng.framework.ibatis.dao.RoleResourceDAOImpl" />
	<!-- 门户信息补录审核 -->
	<bean id="checkPeopleInfoDAO" class="com.huateng.framework.ibatis.dao.CheckPeopleInfoDAOImpl" />
	<bean id="userRoleDAO" class="com.huateng.framework.ibatis.dao.UserRoleDAOImpl" />

	<bean id="resourceDAO" class="com.huateng.framework.ibatis.dao.ResourceDAOImpl" />

	<bean id="userServiceDAO"
		class="com.huateng.univer.system.user.integration.dao.impl.UserServiceDAOImpl" />

	<!-- 数据字典 -->
	<bean id="dictInfoDAO"
		class="com.huateng.univer.system.dictinfo.integration.dao.impl.DictInfoServiceDAOImpl" />
	<bean id="dictTypeDAO" class="com.huateng.framework.ibatis.dao.DictTypeDAOImpl" />
	<bean id="entityDictInfoDAO" class="com.huateng.framework.ibatis.dao.EntityDictInfoDAOImpl" />

	<!-- 系统参数 -->
	<bean id="systemParameterDAO"
		class="com.huateng.univer.system.sysparam.integration.dao.impl.SystemParameterServiceDAOImpl" />
	<!-- 实体系统参数 -->
	<bean id="entitySystemParameterDAO"
		class="com.huateng.framework.ibatis.dao.EntitySystemParameterDAOImpl" />

	<!-- 系统日志 -->
	<bean id="systemLogDAO"
		class="com.huateng.univer.system.syslog.integration.dao.impl.SystemLogServiceDAOImpl" />


	<!-- 系统流水号 -->
	<bean id="tableSerialNumberDAO"
		class="com.huateng.framework.ibatis.dao.TableSerialNumberDAOImpl">
	</bean>

	<!-- 营销机构 -->
	<bean id="sellerDAO" class="com.huateng.framework.ibatis.dao.SellerDAOImpl" />
	<!-- 营销机构合同 -->
	<bean id="sellerContractDAO" class="com.huateng.framework.ibatis.dao.SellContractDAOImpl" />
	<bean id="sellProdContractDAO"
		class="com.huateng.framework.ibatis.dao.SellProdContractDAOImpl" />
	<bean id="sellAcctypeContractDAO"
		class="com.huateng.framework.ibatis.dao.SellAcctypeContractDAOImpl" />
	<!-- 发票管理 -->
	<bean id="orderInvoiceDAO" class="com.huateng.framework.ibatis.dao.OrderInvoiceDAOImpl"></bean>

	<!-- 客户信息 -->

	<bean id="customerDAO" class="com.huateng.framework.ibatis.dao.CustomerDAOImpl" />

	<!-- 持卡人信息 -->
	<bean id="cardholderDAO" class="com.huateng.framework.ibatis.dao.CardholderDAOImpl" />
	<bean id="cardholderCardlistDAO"
		class="com.huateng.framework.ibatis.dao.CardholderCardlistDAOImpl" />

	<!-- 收单结构 -->
	<bean id="merchantTempDAO" class="com.huateng.framework.ibatis.dao.MerchantTempDAOImpl"></bean>
	<bean id="merchantTempServiceDAO"
		class="com.huateng.univer.consumer.merchant.integration.dao.impl.MerchantTempServiceDAOImpl" />
	<bean id="merchantDAO" class="com.huateng.framework.ibatis.dao.MerchantDAOImpl"></bean>
	<bean id="merchantServiceDAO"
		class="com.huateng.univer.consumer.merchant.integration.dao.impl.MerchantServiceDAOImpl" />
	<bean id="contactServiceDAO"
		class="com.huateng.univer.entitybaseinfo.contact.integration.dao.impl.ContactServiceDAOImpl" />
	<bean id="shopServiceDAO"
		class="com.huateng.univer.consumer.shop.integration.dao.impl.ShopServiceDAOImpl" />
	<bean id="shopPosDAO" class="com.huateng.framework.ibatis.dao.ShopPosDAOImpl" />
	<bean id="mchntContractServiceDAO"
		class="com.huateng.univer.consumer.mchntcontract.integration.dao.impl.MchntContractServiceDAOImpl" />
	<bean id="posInfoDAO" class="com.huateng.framework.ibatis.dao.PosInfoDAOImpl" />
	<bean id="posBrandInfoDAO" class="com.huateng.framework.ibatis.dao.PosBrandInfoDAOImpl" />
	<bean id="terParameterDAO" class="com.huateng.framework.ibatis.dao.PosParamenterDAOImpl" />
	<bean id="consumerContractDAO"
		class="com.huateng.framework.ibatis.dao.ConsumerContractDAOImpl" />
	<bean id="consumerDAO" class="com.huateng.framework.ibatis.dao.ConsumerDAOImpl" />
	<bean id="acqPayDAO"
		class="com.huateng.univer.issuer.consumer.dao.impl.AcqPayDAOImpl"></bean>
	<bean id="issChnlDAO" class="com.huateng.framework.ibatis.dao.IssChnlDAOImpl"></bean>
	<!-- 服务计算规则 -->
	<!-- <bean id="serviceFeeRuleDAO" class="com.huateng.framework.ibatis.dao.SerivceFeeRuleDAOImpl"/> -->
	<bean id="caclInfDAO" class="com.huateng.framework.ibatis.dao.CaclInfDAOImpl" />
	<bean id="caclDspDAO" class="com.huateng.framework.ibatis.dao.CaclDspDAOImpl" />

	<!-- 服务合同 -->
	<bean id="acctypeContractDAO" class="com.huateng.framework.ibatis.dao.AcctypeContractDAOImpl" />
	<bean id="accTypeContractServiceDAO"
		class="com.huateng.univer.consumer.acctypecontract.integration.dao.impl.AccTypeContractServiceDAOImpl" />
	<!--产品与账户 -->
	<bean id="cardLayoutDAO" class="com.huateng.framework.ibatis.dao.CardLayoutDAOImpl" />
	<bean id="packageDAO" class="com.huateng.framework.ibatis.dao.PackageDAOImpl" />
	<bean id="serviceDAO" class="com.huateng.framework.ibatis.dao.ServiceDAOImpl" />
	<bean id="issuerServiceDAO"
		class="com.huateng.univer.issuer.account.dao.impl.IssuerServiceDaoImpl" />
	<bean id="productDAO" class="com.huateng.framework.ibatis.dao.ProductDAOImpl" />
	<bean id="productServiceDAO" class="com.huateng.framework.ibatis.dao.ProductServiceDAOImpl" />
	<bean id="prodAccLayPackServiceDAO"
		class="com.huateng.univer.issuer.product.dao.impl.ProdAccLayPackServiceDAOImpl" />
	<bean id="prodLayoutDAO" class="com.huateng.framework.ibatis.dao.ProdLayoutDAOImpl" />
	<bean id="prodFaceValueDAO" class="com.huateng.framework.ibatis.dao.ProdFaceValueDAOImpl" />
	<bean id="prodPackageDAO" class="com.huateng.framework.ibatis.dao.ProductPackageDAOImpl" />


	<!--发行机构 -->
	<bean id="issuerDAO" class="com.huateng.framework.ibatis.dao.IssuerDAOImpl" />
	<bean id="departmentDAO"
		class="com.huateng.framework.ibatis.dao.EntityDepartmentDAOImpl" />
	<bean id="invoiceCompanyDAO" class="com.huateng.framework.ibatis.dao.InvoiceCompanyDAOImpl" />
	<bean id="invoiceAddressDAO"
		class="com.huateng.framework.ibatis.dao.EntityInvoiceAddressDAOImpl" />
	<bean id="deliveryDAO" class="com.huateng.framework.ibatis.dao.EntityDeliveryDAOImpl" />
	<bean id="contractDAO" class="com.huateng.framework.ibatis.dao.EntityContactDAOImpl" />
	<bean id="entityBaseInfoServiceDAO"
		class="com.huateng.univer.issuer.entityBaseInfo.dao.impl.EntityBaseInfoServiceDaoImpl" />
	<bean id="deliveryContractDAO" class="com.huateng.framework.ibatis.dao.DeliveryContactDAOImpl" />
	<bean id="cardSerialNumberDAO"
		class="com.huateng.framework.ibatis.dao.CardSerialNumberDAOImpl"></bean>
	<bean id="productCardBinDAO" class="com.huateng.framework.ibatis.dao.ProductCardBinDAOImpl"></bean>
	<!-- 一级机构 -->
	<bean id="tennatDAO" class="com.huateng.framework.ibatis.dao.TenantDAOImpl"></bean>
	<!-- 发行机构合同 -->
	<bean id="loyaltyContractDAO" class="com.huateng.framework.ibatis.dao.LoyaltyContractDAOImpl" />
	<bean id="loyaltyProdContractDAO"
		class="com.huateng.framework.ibatis.dao.LoyaltyProdContractDAOImpl" />
	<bean id="loyaltyAcctypeContractDAO"
		class="com.huateng.framework.ibatis.dao.LoyaltyAcctypeContractDAOImpl" />
	<bean id="loyaltyContractServiceDAO"
		class="com.huateng.univer.issuer.issuercontract.dao.impl.LoyaltyContractServiceDAOImpl" />

	<!-- 制卡商 -->
	<bean id="cardCompanyDAO" class="com.huateng.framework.ibatis.dao.CardCompanyDAOImpl" />

	<!-- 卡片管理信息dao -->
	<bean id="cardManagementDAO" class="com.huateng.framework.ibatis.dao.CardManagementDAOImpl"></bean>
	<bean id="cardManageServiceDAO"
		class="com.huateng.univer.cardmanage.integration.dao.impl.CardmanageServiceDAOImpl"></bean>

	<!-- 结算周期规则 -->
	<bean id="settlePeriodRuleDAO"
		class="com.huateng.framework.ibatis.dao.SettlePeriodRuleDAOImpl" />


	<!-- 机构功能权限 -->
	<bean id="issueResourceDAO" class="com.huateng.framework.ibatis.dao.IssueResourceDAOImpl" />

	<!-- 有效期规则 -->
	<bean id="validRuleDspDAO" class="com.huateng.framework.ibatis.dao.ValidRuleDspDAOImpl" />
	<bean id="validRuleInfDAO" class="com.huateng.framework.ibatis.dao.ValidRuleInfDAOImpl" />
	<bean id="validPeriodRuleServiceDAO"
		class="com.huateng.univer.issuer.validPeriodRule.dao.impl.ValidPeriodRuleServiceDAOImpl" />

	<!-- 退货审核 -->
	<bean id="refundDAO" class="com.huateng.framework.ibatis.dao.RefundInfDAOImpl"></bean>
	<!-- 银行账户信息 -->
	<bean id="bankDAO"
		class="com.huateng.univer.entitybaseinfo.bank.biz.dao.impl.BankServiceDAOImpl"></bean>
	<!-- 收单机构合同交易权限的控制关联的DAO -->
	<bean id="insInfDAO" class="com.huateng.framework.ibatis.dao.InsInfDAOImpl"></bean>
	<bean id="insTransPrivDAO" class="com.huateng.framework.ibatis.dao.InsTransPrivDAOImpl"></bean>
	<bean id="cardRouteDAO" class="com.huateng.framework.ibatis.dao.CardRouteDAOImpl"></bean>
	<!-- 外部终端信息DAO -->
	<bean id="outerPosInfoDAO" class="com.huateng.framework.ibatis.dao.OuterPosInfoDAOImpl"></bean>
	<!-- 订单付款方式DAO -->
	<bean id="sellOrderPaymentDAO"
		class="com.huateng.framework.ibatis.dao.SellOrderPaymentDAOImpl"></bean>
	<!-- 交易类型DAO -->
	<bean id="transTypeDAO" class="com.huateng.framework.ibatis.dao.TransTypeDAOImpl"></bean>
	<!-- 批量文件框架总表DAO -->
	<bean id="batchSumDAO" class="com.huateng.framework.ibatis.dao.BatchSumDAOImpl"></bean>
	<!-- 批量文件框架明细表DAO -->
	<bean id="batchDetailDAO" class="com.huateng.framework.ibatis.dao.BatchDetailDAOImpl"></bean>
	<!-- 批量文件框架充值明细表DAO -->
	<bean id="batRechargeActTxnDAO"
		class="com.huateng.framework.ibatis.dao.BatRechargeActTxnDAOImpl"></bean>
	<bean id="blackListDAO" class="com.huateng.framework.ibatis.dao.BlackListDAOImpl"></bean>
	<!-- 制卡生成信息表 -->
	<bean id="accBatchFileDAO" class="com.huateng.framework.ibatis.dao.AccBatchFileDAOImpl"></bean>
	<!-- 订单发票 -->
	<bean id="orderInvoiceInfoDAO"
		class="com.huateng.framework.ibatis.dao.OrderInvoiceInfoDAOImpl"></bean>

	<!-- SAP记账表 -->
	<bean id="sapInfoDAO" class="com.suning.svc.ibatis.dao.SapInfoDAOImpl">
		<!-- 此DAO使用STL数据源 -->
		<property name="sqlMapClientTemplate" ref="stlSqlMapClientTemplate" />
	</bean>

	<!--结算单和发票关联操作 -->
	<bean id="settlementInvoiceDao" class="com.suning.svc.coupon.dao.impl.SettlementInvoiceDaoImpl"></bean>

	<!-- STL库分页查询 -->
	<bean id="stlPageQueryDAO" class="com.huateng.framework.dao.impl.PageQueryDAOImpl">
		<!-- 此DAO使用STL数据源 -->
		<property name="sqlMapClientTemplate" ref="stlSqlMapClientTemplate" />
	</bean>

	<!-- STL库基础DAO -->
	<bean id="stlBaseDAO" class="com.huateng.framework.dao.impl.BaseDAOIbatisImpl">
		<!-- 此DAO使用STL数据源 -->
		<property name="sqlMapClientTemplate" ref="stlSqlMapClientTemplate" />
	</bean>
	<!-- 发行机构卡作废检验卡状态 -->
	<bean id="accCardInfoDao" class="com.huateng.framework.ibatis.dao.AccCardInfoDaoImpl"></bean>
	
	<!-- 申请和绑卡服务 -->
	<bean id="applyAndBindCardDao" class="com.allinfinance.shangqi.gateway.dao.ApplyAndBindDaoImpl"></bean>
	<!--卡订单查询 -->
	<bean id="orderAndCountDAO" class="com.huateng.framework.ibatis.dao.OrderAndCountDAOImpl"></bean>
	
</beans>
