<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- 调度 -->
	<bean name="batchQuartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
		<property name="autoStartup">
			<value>true</value>
		</property>		
		<property name="triggers">
			<list>
				<ref bean="batchProcessTrigger" />
			</list>
		</property>
	</bean>

	
	<!-- 批量轮询任务 -->
	<bean id="batchProcessTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="batchCallBackTask" />
		<!-- <property name="cronExpression" value="0 0 2 * * ?" /> -->
 		<property name="cronExpression" value="0/15 * * * * ?" />
	</bean>
	
	<bean id="batchCallBackTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="concurrent" value="false" />
		<property name="targetObject" ref="batchCallBackProc" />
		<property name="targetMethod" value="process" />
	</bean>	
	
	<bean id="batchCallBackProc" class="org.springframework.aop.framework.ProxyFactoryBean" singleton="true">
		<property name="proxyTargetClass" value="true" />
		<property name="target" ref="batchCheckQuartz">
		</property>
	</bean>	
	
</beans>