<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allinfinance.mapper.TbDictInfoMapper" >
  <resultMap id="BaseResultMap" type="com.allinfinance.model.TbDictInfo" >
    <result column="DICT_ID" property="dictId" jdbcType="VARCHAR" />
    <result column="DICT_CODE" property="dictCode" jdbcType="VARCHAR" />
    <result column="DICT_TYPE_CODE" property="dictTypeCode" jdbcType="VARCHAR" />
    <result column="DICT_NAME" property="dictName" jdbcType="VARCHAR" />
    <result column="DICT_SHORT_NAME" property="dictShortName" jdbcType="VARCHAR" />
    <result column="DICT_ENGLISH_NAME" property="dictEnglishName" jdbcType="VARCHAR" />
    <result column="DICT_STATE" property="dictState" jdbcType="CHAR" />
    <result column="FATHER_DICT_CODE" property="fatherDictCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DICT_ID, DICT_CODE, DICT_TYPE_CODE, DICT_NAME, DICT_SHORT_NAME, DICT_ENGLISH_NAME, 
    DICT_STATE, FATHER_DICT_CODE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.allinfinance.model.TbDictInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TB_DICT_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.allinfinance.model.TbDictInfoExample" >
    delete from TB_DICT_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.allinfinance.model.TbDictInfo" >
    insert into TB_DICT_INFO (DICT_ID, DICT_CODE, DICT_TYPE_CODE, 
      DICT_NAME, DICT_SHORT_NAME, DICT_ENGLISH_NAME, 
      DICT_STATE, FATHER_DICT_CODE)
    values (#{dictId,jdbcType=VARCHAR}, #{dictCode,jdbcType=VARCHAR}, #{dictTypeCode,jdbcType=VARCHAR}, 
      #{dictName,jdbcType=VARCHAR}, #{dictShortName,jdbcType=VARCHAR}, #{dictEnglishName,jdbcType=VARCHAR}, 
      #{dictState,jdbcType=CHAR}, #{fatherDictCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.allinfinance.model.TbDictInfo" >
    insert into TB_DICT_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictId != null" >
        DICT_ID,
      </if>
      <if test="dictCode != null" >
        DICT_CODE,
      </if>
      <if test="dictTypeCode != null" >
        DICT_TYPE_CODE,
      </if>
      <if test="dictName != null" >
        DICT_NAME,
      </if>
      <if test="dictShortName != null" >
        DICT_SHORT_NAME,
      </if>
      <if test="dictEnglishName != null" >
        DICT_ENGLISH_NAME,
      </if>
      <if test="dictState != null" >
        DICT_STATE,
      </if>
      <if test="fatherDictCode != null" >
        FATHER_DICT_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictId != null" >
        #{dictId,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null" >
        #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeCode != null" >
        #{dictTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null" >
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictShortName != null" >
        #{dictShortName,jdbcType=VARCHAR},
      </if>
      <if test="dictEnglishName != null" >
        #{dictEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="dictState != null" >
        #{dictState,jdbcType=CHAR},
      </if>
      <if test="fatherDictCode != null" >
        #{fatherDictCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.allinfinance.model.TbDictInfoExample" resultType="java.lang.Integer" >
    select count(*) from TB_DICT_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TB_DICT_INFO
    <set >
      <if test="record.dictId != null" >
        DICT_ID = #{record.dictId,jdbcType=VARCHAR},
      </if>
      <if test="record.dictCode != null" >
        DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dictTypeCode != null" >
        DICT_TYPE_CODE = #{record.dictTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dictName != null" >
        DICT_NAME = #{record.dictName,jdbcType=VARCHAR},
      </if>
      <if test="record.dictShortName != null" >
        DICT_SHORT_NAME = #{record.dictShortName,jdbcType=VARCHAR},
      </if>
      <if test="record.dictEnglishName != null" >
        DICT_ENGLISH_NAME = #{record.dictEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="record.dictState != null" >
        DICT_STATE = #{record.dictState,jdbcType=CHAR},
      </if>
      <if test="record.fatherDictCode != null" >
        FATHER_DICT_CODE = #{record.fatherDictCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TB_DICT_INFO
    set DICT_ID = #{record.dictId,jdbcType=VARCHAR},
      DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
      DICT_TYPE_CODE = #{record.dictTypeCode,jdbcType=VARCHAR},
      DICT_NAME = #{record.dictName,jdbcType=VARCHAR},
      DICT_SHORT_NAME = #{record.dictShortName,jdbcType=VARCHAR},
      DICT_ENGLISH_NAME = #{record.dictEnglishName,jdbcType=VARCHAR},
      DICT_STATE = #{record.dictState,jdbcType=CHAR},
      FATHER_DICT_CODE = #{record.fatherDictCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>