<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="byName" >

	<bean id="java2CCommonService"	class="com.huateng.hstserver.gatewayService.Java2CCommonServiceImpl" scope="prototype">
		<property name="managedAsyn2SynClient">
			<ref bean="managedAsyn2SynClient"/>
		</property>
	</bean>
	
	<bean id="java2ACCBusinessService"	class="com.huateng.hstserver.gatewayService.Java2ACCBusinessServiceImpl" scope="prototype">
		<property name="managedAsyn2SynClient">
			<ref bean="managedAsyn2SynClient"/>
		</property>
	</bean>
	<bean id="java2TXNBusinessService"	class="com.huateng.hstserver.gatewayService.Java2TXNBusinessServiceImpl" scope="prototype">
		<property name="managedAsyn2SynClient">
			<ref bean="managedAsyn2SynClient"/>
		</property>
	</bean>
	<bean id="java2STLBusinessService"	class="com.huateng.hstserver.gatewayService.Java2STLBusinessServiceImpl" scope="prototype">
		<property name="managedAsyn2SynClient">
			<ref bean="managedAsyn2SynClient"/>
		</property>
	</bean>
</beans>