<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<import resource="action-common.xml" />
	<import resource="action-consumer.xml" />
	<import resource="action-issuer.xml" />
	<import resource="action-order.xml" />
	<import resource="action-report.xml" />
	<import resource="action-seller.xml" />
	<import resource="action-system.xml" />
	<import resource="applicationContext-security.xml" />
	<import resource="business-common-service.xml" />

	<bean id="manageService" class="com.huateng.framework.webservice.ManageServiceTestImpl" />

</beans>