body {
	font-family: "ו";
	font-size: 10px;
	color: #333333;
	background: #cde4fc
}

body,ul,li,h1,h2,h3,h4,p,dd,dt,dl,input,select {
	margin: 0;
	padding: 0;
	list-style: none
}

img {
	border: 0px
}

.main {
	width: 300px;
	height: 130px;
	margin: 120px 0 0 390px
}

.main .inputbox {
	width: 260px;
	height: 40px
}

.main .inputbox .text {
	float: left;
	text-align: right;
	padding-right: 5px;
	width: 70px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	font-weight: bold
}

.main .inputbox .inp {
	float: left;
	width: 165px;
	padding-top: 8px
}

.main .inputbox input {
	width: 170px;
	height: 22px;
	line-height: 22px;
	padding-left: 5px;
	border: 1px solid #a5b7ca
}

.main .buttonbox {
	text-align: center;
	padding-top: 8px
}

.main .buttonbox a {
	margin: 0 5px
}

.copy {
	height: 35px;
	line-height: 43px;
	text-align: center;
	color: #183487
}

.register {
	font-size: 12px;
	font-family: ו;
	color: blue;
	text-decoration: none;
}

.regist {
	float: right;
	margin: -110px 30px 0px 0px;
}

/*.regist {
	float: right;
	margin: -85px 30px 0px 0px;
}*/

/*.login_{
	margin: -25px 30px 0px 0px;
}*/

/*.copy {
	height: 35px;
	line-height: 90px;
	text-align: center;
	color: #183487
}*/

