<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">
	<bean id="baseDao" class="com.huateng.framework.db.dao.impl.BaseDAOIbatisImpl"
		scope="prototype" />
	<bean id="dictInfoDAO" class="com.huateng.framework.db.ibatis.dao.DictInfoDAOImpl"
		scope="prototype" />
	<bean id="entityDictInfoDAO"
		class="com.huateng.framework.db.ibatis.dao.EntityDictInfoDAOImpl"
		scope="prototype" />
	<bean id="entitySystemParameterDAO"
		class="com.huateng.framework.db.ibatis.dao.EntitySystemParameterDAOImpl"
		scope="prototype" />
	<bean id="systemParameterDAO"
		class="com.huateng.framework.db.ibatis.dao.SystemParameterDAOImpl"
		scope="prototype" />


</beans>
