<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="byName">
	<bean name="dictInfoService"
		class="com.huateng.framework.systemService.impl.DictInfoServiceImpl">
	</bean>
	<bean name="entitySystemParameterService"
		class="com.huateng.framework.systemService.impl.EntitySystemParameterServiceImpl">
	</bean>
	<bean name="systemInfoService"
		class="com.huateng.framework.systemService.impl.SystemInfoServiceImpl">
	</bean>
	
	<bean name="systemInfo" class="com.huateng.framework.util.SystemInfo" init-method="init">
	    <property name="dictInfoService" ref="dictInfoService"/>
	</bean>
	
	<bean id="systemInfoLoad" init-method="start" class="java.lang.Thread">
		<constructor-arg>
			<ref bean="systemInfoService"/>
		</constructor-arg>
		<property name="name"><value>threadName-systemInfo-job</value></property>
	</bean>

</beans>