<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>SQConsole</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/db/applicationContext-hibernate.xml,   
			/WEB-INF/spring/proxy/system.xml,
			/WEB-INF/spring/proxy/base.xml,
			/WEB-INF/spring/proxy/mchnt.xml,
			/WEB-INF/spring/proxy/pos.xml,
			/WEB-INF/spring/proxy/risk.xml,
			/WEB-INF/spring/proxy/error.xml,
			/WEB-INF/spring/proxy/settle.xml,
			/WEB-INF/spring/proxy/mchtSrv.xml,
			/WEB-INF/spring/proxy/rout.xml,
			/WEB-INF/spring/proxy/reserve.xml,
			classpath:applicationContext.xml
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			com.huateng.startup.listener.ContextLoaderListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			com.huateng.startup.listener.SystemListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>scriptCompressed</param-name>
			<param-value>true</param-value>
		</init-param>
        <init-param>
            <param-name>crossDomainSessionSecurity</param-name>
            <param-value>false</param-value>
        </init-param>
	</servlet>
	<servlet>
		<description>PrintImage</description>
		<display-name>PrintImage</display-name>
		<servlet-name>PrintImage</servlet-name>
		<servlet-class>com.huateng.system.util.PrintImage</servlet-class>
	</servlet>
	<servlet>
		<description>PrintImage1</description>
		<display-name>PrintImage1</display-name>
		<servlet-name>PrintImage1</servlet-name>
		<servlet-class>com.huateng.system.util.PrintImage1</servlet-class>
	</servlet>
	<servlet>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<listener>
		<listener-class>
			com.huateng.startup.listener.MyServerListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			com.huateng.startup.listener.OnlineTransMonitorListener
		</listener-class>
	</listener>
	<filter>
		<filter-name>EncodeFilter</filter-name>
		<filter-class>
			com.huateng.system.util.EncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>RoleFilter</filter-name>
		<filter-class>
			com.huateng.system.util.RoleFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RoleFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping> 
   
   <!-- 统一认证
   <filter>
    <filter-name>SAMLAuthFilter</filter-name>
    <filter-class>samlsso.servlet.SAMLAuthFilter</filter-class>
     <init-param>
        <param-name>redirectURL</param-name>
        <param-value>http://idp.uat.spdb.com</param-value>
     </init-param>
     <init-param>
        <param-name>token-type</param-name>
        <param-value>SAML.Assertion</param-value>
     </init-param>
     <init-param>
        <param-name>realm-name</param-name>
        <param-value>myrealm</param-value>
     </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SAMLAuthFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>  -->
  
  
  	<error-page>
     	<error-code>404</error-code>
    	<location>/page/system/error404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/page/system/error404.jsp</location>
	</error-page>
    <filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrintImage</servlet-name>
		<url-pattern>/PrintImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrintImage1</servlet-name>
		<url-pattern>/PrintImage1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/servlet/AdminServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/page/system/login.jsp</welcome-file>
	</welcome-file-list>

</web-app>
