<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="com.suning.svc.ibatis.model.TradeItemDealed">
	<update id="moveData" parameterClass="java.util.Map">
		insert into CP_TRADE_ITEM_DEALED (ID, REF_ORDER_TYPE, REF_ORDER_ID, PARTNER, MCHT_CODE, TRADE_TYPE, DIRECTION, COUPON_NO, ITEM_ORDER_NO, TRADE_TIME, AMOUNT, ORDER_NO, ITEM_DES, ITEM_REMARK, STATUS, COUNTER, BATCH_ID, CREATED_TIME, UPDATED_TIME)
        SELECT ID, #orderType:VARCHAR#, #orderId#, PARTNER, MCHT_CODE, TRADE_TYPE, DIRECTION, COUPON_NO, ITEM_ORDER_NO, TRADE_TIME, AMOUNT, ORDER_NO, ITEM_DES, ITEM_REMARK, STATUS, COUNTER, BATCH_ID, CREATED_TIME, UPDATED_TIME 
        FROM CP_TRADE_ITEM_TEMP 
        where STATUS=#status# and BATCH_ID=#batchNO#
        <isNotNull property="itemOrderNO" >
        and ITEM_ORDER_NO = #itemOrderNO#
        </isNotNull>
        <isNotNull property="merchantCode" >
        and MCHT_CODE=#merchantCode#
        </isNotNull>
        <isNotNull property="couponNO" >
         and COUPON_NO=#couponNO#
        </isNotNull>
	</update>

	<select id="getTradeItemTmpByPage" resultClass="java.util.HashMap"
	remapResults="true" parameterClass="com.allinfinance.svc.coupon.dto.TradeItemTempQueryDTO">
	<include refid="Commons.prefixSql" />
		select c.id as "id",
        c.partner as "partner",
        c.mcht_code as "mchtCode",
        c.trade_type as "tradeType",
        c.direction as "direction",
        c.coupon_no as "couponNo",
        c.item_order_no as "itemOrderNo",
        c.trade_time as "tradeTime",
        c.amount as "amount",
        c.order_no as "orderNo",
        c.item_des as "itemDes",
        c.item_remark as "itemRemark",
        c.status as "status",
        c.counter as "counter",
        c.batch_id as "batchId",
        c.created_time as "createdTime",
        c.updated_time as "updatedTime",
        c.err_msg as "errMsg"
		from cp_trade_item_temp c
		where 1=1
		<isNotEmpty prepend="and" property="id">
			C.ID = #id:BIGINT#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="partner">
			C.PARTNER = #partner:VCHAR#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="status">
			C.STATUS = #status:VCHAR#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="direction">
			C.DIRECTION = #direction:VCHAR#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="mchtCode">
			c.mcht_code=#mchtCode#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="tradeType">
			c.trade_type=#tradeType#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="couponNo">
			c.coupon_no=#couponNo#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="itemOrderNo">
			c.item_order_no=#itemOrderNo#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="startTime">
         	C.CREATED_TIME &gt;= #startTime:TIMESTAMP#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="stopTime">
         	C.CREATED_TIME &lt; #stopTime:TIMESTAMP#
		</isNotEmpty>
		<include refid="Commons.suffixSql" />
	</select>

	<select id="abatorgenerated_selectTradeItemDealed"
		parameterClass="com.allinfinance.svc.coupon.dto.TradeItemDealedQueryDto"
		resultClass="java.util.HashMap" remapResults="true">
		<include refid="Commons.prefixSql" />
		select 
			id as "id",
			REF_ORDER_ID as "refOrderId",
			DECODE(REF_ORDER_TYPE,'1','充值','2','充退','3','消费') as "refOrderType",
			DIRECTION as "direction",
			PARTNER as "partner",
			MCHT_CODE as "mchtCode",
			TRADE_TYPE as "tradeType",
			COUPON_NO as "couponNo",
			ITEM_ORDER_NO as "itemOrderNo",
			TRADE_TIME as "tradeTime",
			AMOUNT as "amount",
			ORDER_NO as "orderNo",
			ITEM_DES as "itemDes",
			ITEM_REMARK as "itemRemark",
			DECODE(STATUS,'0','待处理','1','处理失败','2','处理中','3','已处理') as "status",
			COUNTER as "counter",
			BATCH_ID as "batchId",
			CREATED_TIME as "createdTime",
			UPDATED_TIME as "updateTime",
			ACCEPTED_TIME as "acceptedTime",
			DEALED_TIME as "dealedTime"
		from CP_TRADE_ITEM_DEALED
		WHERE 1=1
		<isNotEmpty prepend="and" property="mchtCode">
			MCHT_CODE =
			#mchtCode:VARCHAR#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="couponNo">
			COUPON_NO =
			#couponNo:VARCHAR#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="itemOrderNo">
			ITEM_ORDER_NO =
			#itemOrderNo:VARCHAR#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="status">
			STATUS =
			#status:VARCHAR#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="tradeType">
			TRADE_TYPE =
			#tradeType:VARCHAR#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="direction">
			DIRECTION =
			#direction:VARCHAR#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="refOrderId">
			REF_ORDER_ID =
			#refOrderId:VARCHAR#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="refOrderType">
			REF_ORDER_TYPE =
			#refOrderType:VARCHAR#
		</isNotEmpty>
		<include refid="Commons.suffixSql" />
	</select>

</sqlMap>

