<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd"
    default-autowire="byName">
	
	<!--订单BO -->
	<bean id="orderBO" class="com.huateng.univer.order.business.bo.OrderBO"/>
	<!-- 计算订单总金额 -->
	<bean id="orderCountTotalPrice" class="com.huateng.univer.order.business.bo.OrderCountTotalPrice"/>
	<!-- 订单DAO -->
	<bean id="sellOrderDAO" class="com.huateng.framework.ibatis.dao.SellOrderDAOImpl"/>
	<!-- 订单明细DAO -->
	<bean id="sellOrderListDAO" class="com.huateng.framework.ibatis.dao.SellOrderListDAOImpl" />
	<!-- 订单卡明细DAO -->
	<bean id="sellOrderCardListDAO" class="com.huateng.framework.ibatis.dao.SellOrderCardListDAOImpl" />
	<!-- 订单原有卡DAO -->
	<bean id="sellOrderOrigCardListDAO" class="com.huateng.framework.ibatis.dao.SellOrderOrigCardListDAOImpl" />
	<!-- 订单流程DAO -->
	<bean id="sellOrderFlowDAO" class="com.huateng.framework.ibatis.dao.SellOrderFlowDAOImpl"/>
	<!-- 库存表 -->
	<bean id="entityStockDAO" class="com.huateng.framework.ibatis.dao.EntityStockDAOImpl"/>
	<!-- 库存表操作记录表 -->
	<bean id="entityStockOperaterDAO" class="com.huateng.framework.ibatis.dao.EntityStockOperaterDAOImpl"/>
	<!-- 合并订单关联 -->
	<bean id="unionOrderDAO" class="com.huateng.framework.ibatis.dao.UnionOrderDAOImpl"/>
	<!-- 订单基础BO -->
	<bean id="orderBaseQueryBO" class="com.huateng.univer.order.business.bo.OrderBaseQueryBO"/>
	<!-- 订单制卡批次文件 -->
	<bean id="orderBatchFileDAO" class="com.huateng.framework.ibatis.dao.OrderBatchFileDAOImpl"></bean>
	
	
	<!--  订单发票service-->
	<bean id="orderInvoiceService" parent="baseTransactionProxy" >
		<property name="target">
			<bean
				class="com.huateng.univer.order.business.service.impl.OrderInvoiceServiceImpl">
			</bean>
		</property>
	</bean>
	
	<!--  订单service-->
	<bean id="orderService" parent="baseTransactionProxy" >
		<property name="target">
			<bean
				class="com.huateng.univer.order.business.service.impl.OrderServiceImpl">
			</bean>
		</property>
	</bean>
	
	<!-- 操作手写sql dao -->
	<bean id="baseOrderDAO" class="com.huateng.framework.dao.impl.BaseDAOIbatisImpl">
			<property name="namespace" >
				<value>ORDER</value>
			</property>
	</bean>
	
	<!-- 制卡订单service -->
	<bean id="stockOrderService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.order.biz.service.impl.StockOrderServiceImpl">
			</bean>
		</property>
	</bean>
	
	<!-- 制卡订单确定service -->
	<bean id="stockOrderConfirmService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.order.biz.service.impl.StockOrderConfirmServiceImpl">
			</bean>
		</property>
	</bean>
	
	<!-- 制卡订单 -->
	<bean id="orderMakeCardActionImpl" class="com.huateng.univer.order.business.action.OrderMakeCardActionImpl">
	</bean>
	
	<!-- 订单配送确定 -->
	<bean id="orderSendConfirmActionImpl" class="com.huateng.univer.order.business.action.OrderSendConfirmActionImpl">
	</bean>
	<!-- 订单充值 -->
	<bean id="orderRechargeActionImpl" class="com.huateng.univer.order.business.action.OrderRechargeActionImpl">
	</bean>
	<!-- 订单激活 -->
	<bean id="orderActActionImpl" class="com.huateng.univer.order.business.action.OrderActActionImpl">
	</bean>
	<!-- 订单付款审核 -->
	<bean id="orderPaymentActionImpl" class="com.huateng.univer.order.business.action.OrderPaymentActionImpl">
	</bean>
	
	<!-- 制卡文件service -->
	<bean id="orderMakeCardService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.order.business.service.impl.OrderMakeCardServiceImpl">
			</bean>
		</property>
	</bean>
	
	<!-- 订单卡明细service -->
	<bean id="orderCardListService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.order.business.service.impl.OrderCardListServiceImpl">
			</bean>
		</property>
	</bean>
	
	<!-- 制卡订单准备service -->
	<bean id="stockOrderReadyService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.order.biz.service.impl.StockOrderReadyServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 库存订单通用BO -->
	<bean id="stockOrderCommonService" class="com.huateng.univer.issuer.order.biz.bo.StockOrderCommonService"/>
	
	<!-- 取消订单(营销机构订单)-->
	<bean id="cancelOrderService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.order.business.service.impl.CancelOrderServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 提交订单(营销机构订单) -->
	<bean id="submitOrderService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.order.business.service.impl.SubmitOrderServiceImpl">
			</bean>
		</property>
	</bean>
	
		<!-- 退回订单(营销机构订单) -->
	<bean id="sendBackOrderService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.order.business.service.impl.SendBackOrderServiceImpl">
			</bean>
		</property>
	</bean>
		<!-- 订单准备 -->
	
	
	<bean id="orderReadyService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.order.business.service.impl.OrderReadyServiceImpl">
			</bean>
		</property>
	</bean>
	
	
	<!-- 查询订单(营销机构订单) -->
	<bean id="sellOrderQuery" class="com.huateng.univer.order.business.query.impl.SellOrderQueryImpl"/>
	<bean id="ransomOrderActionImpl" class="com.huateng.univer.order.business.action.RansomOrderActionImpl" />
	<!-- 赎回订单 -->
	<bean id="orderRansomService"
		class="com.huateng.univer.seller.ransom.biz.service.impl.OrderRansomServiceImpl" />
</beans>