<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">


	<bean id="webServiceInvoke" class="com.huateng.framework.webservice.WebServiceInvoke"
		scope="prototype"></bean>

	<bean id="customerService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.seller.customer.biz.service.impl.CustomerServiceImpl">
			</bean>
		</property>
	</bean>
	
	<!-- 卡交易记录查询 -->
	<bean id="txnqueryService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.allinfinance.shangqi.gateway.service.TxnqueryServiceImpl">
			</bean>
		</property>
	</bean>
	
	<!-- 申请和绑卡 -->
	<bean id="applyAndBindCardService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.allinfinance.shangqi.gateway.service.ApplyAndBindServiceImpl">
			</bean>
			
		</property>
	
	</bean>
	
	<!-- 调账交易 -->
	<bean id="chargeBalTxnService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.allinfinance.chargebaltxn.service.ChargeBalTxnServiceIml">
			</bean>
			
		</property>
	
	</bean>
	<!-- <bean id="customerService" class="com.huateng.univer.seller.customer.biz.service.impl.CustomerServiceImpl"/> -->
	<!--商户账户合同 -->
	<bean id="mchantAccTypeContractService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.consumer.merchantacctypecontract.biz.service.imp.MchantAccTypeContractServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 角色权限service -->
	<bean id="roleService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.system.role.biz.service.impl.RoleServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 用户service -->
	<bean id="userService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.system.user.biz.service.impl.UserServiceImpl">
			</bean>
		</property>
	</bean>

	<!--字典表信息 -->
	<bean id="dictInfoService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.system.dictinfo.biz.service.impl.DictInfoServiceImpl">
			</bean>
		</property>
	</bean>

	<!--实体字典表信息 -->
	<bean id="entityDictInfoService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.system.dictinfo.biz.service.impl.EntityDictInfoServiceImpl">
			</bean>
		</property>
	</bean>


	<!-- 系统参数service -->
	<bean id="systemParameterService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.system.sysparam.biz.service.impl.SystemParameterServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 实体系统参数service -->
	<bean id="entitySystemParameterService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.system.sysparam.biz.service.impl.EntitySystemParameterServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 系统日志service -->
	<bean id="systemLogService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.system.syslog.biz.service.impl.SystemLogServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 营销机构service -->
	<bean id="sellerService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.seller.seller.biz.service.impl.SellerServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 营销机构合同service -->
	<bean id="sellerContractService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.seller.sellercontract.biz.service.impl.SellerContractServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 营销机构合同产品及服务明细service -->
	<bean id="sellerProductContractService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.seller.sellercontract.biz.service.impl.SellerProductContractServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 制卡商 -->
	<bean id="cardCompanyService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.cardcompany.service.impl.CardCompanyServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 持卡人service -->

	<bean id="cardholderService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.seller.cardholder.biz.service.impl.CardholderServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 商户service -->
	<bean id="merchantService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.consumer.merchant.biz.service.impl.MerchantServiceImpl">
			</bean>
		</property>
	</bean>
	<bean id="contactService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.entitybaseinfo.contact.biz.service.impl.ContactServiceImpl">
			</bean>
		</property>
	</bean>
	<bean id="shopService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.consumer.shop.biz.service.impl.ShopServiceImpl">
			</bean>
		</property>
	</bean>
	<bean id="mchntContractService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.consumer.mchntcontract.biz.service.impl.MchntContractServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 收单机构合同baseService -->
	<bean id="consumerContractBaseService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.consumer.consumercontractbase.biz.service.impl.ConsumerContractBaseServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 收单网关管理 -->
	<bean id="acqPayService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.consumer.service.impl.AcqPayServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 终端service -->
	<bean id="terminalManagementService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.consumer.pos.biz.service.impl.TerminalManagementServiceImpl">
			</bean>
		</property>
	</bean>
	<bean id="posParameterService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.consumer.posparameter.biz.service.impl.TerParameterManagementServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 服务计算规则service -->
	<!-- <bean id="serviceFeeRuleService" parent="baseTransactionProxy"> <property 
		name="target"> <bean class="com.huateng.univer.servicefeerule.biz.service.impl.ServiceFeeRuleServiceImpl"> 
		</bean> </property> </bean> -->
	<bean id="caclInfService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.servicefeerule.biz.service.impl.CaclInfServiceImpl">
			</bean>
		</property>
	</bean>
	<bean id="accTypeContractService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.consumer.acctypecontract.biz.service.impl.AccTypeContractServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 卡面信息service -->
	<bean id="cardLayoutService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.cardLayout.service.impl.CardlayoutServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 包装管理service -->
	<bean id="productPackageService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.productPackage.service.impl.ProductPackageServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 账户管理service -->
	<bean id="accountService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.account.service.impl.AccountServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 产品管理service -->
	<bean id="productService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.product.service.impl.ProductServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 产品账户管理service -->
	<bean id="productAccountService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.product.service.impl.ProductAccountServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 产品卡BIN管理 -->
	<bean id="productCardBinService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.productcardbin.service.impl.ProductCardBinServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 发行机构管理service -->
	<bean id="issuerService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.issuer.service.impl.IssuerServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 发行机构合同管理service -->
	<bean id="loyaltyContractService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.issuercontract.service.impl.LoyaltyContractServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 发行机构合同管理关联产品service -->
	<bean id="loyaltyProdContractService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.issuercontract.service.impl.LoyaltyProdContractServiceImpl">
			</bean>
		</property>
	</bean>



	<!-- 实体基本信息管理service -->
	<bean id="entityBaseInfoService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.entityBaseInfo.service.impl.EntityBaseInfoServiceImpl">
			</bean>
		</property>
	</bean>


	<!-- 实体信息 -->
	<!--快递点 -->
	<bean id="deliveryPointService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.entitybaseinfo.delivarypoint.biz.service.impl.DeliveryPointServiceImpl">
			</bean>
		</property>
	</bean>

	<!--快递点联系人 -->
	<bean id="deliveryContactService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.entitybaseinfo.deliverycontact.biz.service.impl.DeliveryContactServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 部门 -->
	<bean id="departmentService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.entitybaseinfo.department.biz.service.impl.DepartmentServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 发票地址 -->
	<bean id="invoiceAddressService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.entitybaseinfo.invoiceaddress.biz.service.impl.InvoiceAddressServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 发票公司 -->
	<bean id="invoiceCompanyService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.entitybaseinfo.invoicecompany.biz.service.impl.InvoiceCompanyServiceImpl">
			</bean>
		</property>
	</bean>

	<!--收单机构 -->
	<bean id="consumerService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.consumer.service.impl.ConsumerServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 卡操作管理 -->
	<bean id="cardManageService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.cardmanage.biz.service.impl.CardManageServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 结算周期规则 -->
	<bean id="settlePeriodRuleService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.settleperiodrule.biz.service.impl.SettlePeriodRuleServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 库存信息 -->
	<bean id="entityStockService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.entitystock.service.impl.EntityStockServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- insertFile表 -->

	<bean id="orderBatchFileService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.order.business.service.impl.OrderBatchFileServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 结算 -->
	<bean id="settleService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.huateng.univer.settle.biz.service.impl.SettleServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 有效期规则 -->
	<bean id="validPeriodRuleService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.validPeriodRule.service.impl.ValidPeriodRuleServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 退货审核 -->
	<bean id="refundService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.huateng.univer.consumer.refund.impl.RefundServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 银行账户信息 -->
	<bean id="bankService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.entitybaseinfo.bank.biz.service.impl.BankServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 库存卡片管理 -->
	<bean id="stockCardService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.stockcard.biz.service.impl.StockCardServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 付款方式管理 -->
	<bean id="sellOrderPaymentService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.order.business.service.impl.SellOrderPaymentServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 凭证打印管理 -->
	<bean id="sellOrderPrintCertService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.order.business.service.impl.SellOrderPrintCertServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 交易系统信息管理 -->
	<bean id="txnManagementService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.txnManagement.impl.TxnManagementServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 批量处理信息管理 -->
	<bean id="batchService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.huateng.univer.batch.impl.BatchServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 黑名单管理 -->
	<bean id="BlackListService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.consumer.blacklist.biz.service.impl.BlackListServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 黑名单管理 -->
	<bean id="BlackListMchntService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.consumer.blacklistmchnt.biz.service.impl.BlackListMchntServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- -->
	<bean id="ransomOrderService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.order.business.service.impl.RansomOrderServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 主数据同步 -->
	<bean id="mDMSynchService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.huateng.univer.synch.MDMSynch.impl.MDMSynchServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 客户同步 -->
	<bean id="customerSynchService"
		class="com.huateng.univer.synch.customer.impl.CustomerSynchServiceImpl">
		<property name="customerSynchDAOService" ref="customerSynchDAOService" />
	</bean>
	<bean id="customerSynchDAOService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.synch.customer.impl.CustomerSynchDAOService">
			</bean>
		</property>
	</bean>
	<!-- 合同同步 -->
	<bean id="contractSynchService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.synch.contractSynch.impl.ContractSynchServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 卡生命周期查询service -->
	<bean id="cardLifeCycleQueryService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.cardLifeCycleQuery.service.impl.CardLifeCycleQueryServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 预付卡充值充退报表 -->
	<bean id="cardRechargeAndChargebackService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.report.cardRechargeAndChargeback.impl.CardRechargeAndChargebackServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 卡余额明细变动表 -->
	<bean id="cardBalanceDetailService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.report.cardBalanceDatail.impl.CardBalanceDetailServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 卡实时库存查询service -->
	<bean id="cardCurrentTimeStockQueryService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.issuer.cardCurrentTimeStockQuery.service.impl.CardCurrentTimeStockQueryServiceImpl">
			</bean>
		</property>
	</bean>
	
	<!-- 库存调拨订单录入service -->
    <bean id="stockTransferOrderInputService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.seller.stockTransferOrder.service.impl.StockTransferOrderInputServiceImpl">
			</bean>
		</property>
	</bean> 
	<!-- 库存调拨订单出库service -->
    <bean id="stockTransferOrderReadyService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.seller.stockTransferOrder.service.impl.StockTransferOrderReadyServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 库存调拨订单入库service -->
    <bean id="stockTransferOrderAcceptService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.seller.stockTransferOrder.service.impl.StockTransferOrderAcceptServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 库存调拨订单查询service -->
    <bean id="stockTransferOrderQueryService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.seller.stockTransferOrder.service.impl.StockTransferOrderQueryServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- SAP记账数据查询服务 -->
	<bean id="sapInfoQueryService" class="com.suning.svc.service.sap.info.SapInfoQueryService">
		<property name="pageQueryDAO" ref="stlPageQueryDAO" />
		<property name="baseDAO" ref="stlBaseDAO" />
	</bean>

	<!-- SAP记账回执处理服务 -->
	<bean id="sapInfoReceiptService" class="com.suning.svc.service.sap.info.SapInfoReceiptService" />

	<!-- SAP记账任务 -->
	<bean id="sapInfoTask" class="com.suning.svc.task.SapInfoTask">
		<property name="oneByOneTemplate" ref="oneByOneTemplate" />
		<property name="sapInfoQueryService" ref="sapInfoQueryService" />
	</bean>
	<!-- 卡作废查询 -->
	<bean id="cardInvalidInfoQueryService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.cardinvalidinfoquery.impl.CardInvalidInfoQueryServiceImpl">
			</bean>
		</property>
	</bean>
	<!-- 发行机构卡批量作废 -->
    <bean id="batchCardService" parent="baseTransactionProxy">
        <property name="target">
            <bean
                class="com.huateng.univer.cardmanage.biz.service.impl.BatchCardServiceImpl">
            </bean>
        </property>
    </bean>
    <!-- 订单自动激活 -->
	<bean id="orderAutoActTask" class="com.suning.svc.task.OrderAutoActTask">
		<property name="oneByOneTemplate" ref="oneByOneTemplate" />
	</bean>
	<!-- 订单激活状态更新 -->
	<bean id="orderActUpdateTask" class="com.suning.svc.task.OrderActUpdateTask">
		<property name="oneByOneTemplate" ref="oneByOneTemplate" />
		<property name="businessMap" ref="handleMap"></property>
	</bean>
	<!-- 交易接入服务 -->
	<bean id="tradeIntroService" class="com.suning.svc.service.trade.intro.TradeIntroService" />
	<!-- 获取bean的类 -->
	<bean id="ApplicationContextUtil" class="com.huateng.framework.util.ApplicationContextUtil" />

	<!-- 零元购电子卡 -->
	<bean id="virtualCardService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.suning.svc.coupon.service.impl.VirtualCardServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 零元购电子卡结算 -->
	<bean id="settleBiz" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.suning.svc.coupon.service.impl.SettlementBizImpl">
<!-- 				<property name="sendSopIp" value="${send.sop.ip}" />
				<property name="sendSopPort" value="${send.sop.port}" />
				<property name="sendSopUsername" value="${send.sop.username}" />
				<property name="sendSopPassword" value="${send.sop.password}" />
				<property name="sendSopPath" value="${send.sop.path}" /> -->
			</bean>
		</property>
	</bean>

	<!-- 零元购发票分配 -->
	<bean id="invoiceMatchingService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.suning.svc.coupon.service.impl.InvoiceMatchingServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 客户发票信息后台服务 -->
	<bean id="customerInvoiceInfoService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.suning.svc.coupon.service.impl.CustomerInvoiceInfoService">
			</bean>
		</property>
	</bean>
	
	<!-- 同步至CRM系統 -->
	<bean id="customerSynchCRM" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.huateng.univer.synch.CRMSynch.impl.CustomerSynchCRMImpl">
			</bean>
		</property>
	</bean>

	<bean id="blacklistAndriskService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.huateng.univer.synch.blacklistandriskservice.impl.BlacklistAndriskServiceImpl">
			</bean>
		</property>
	</bean>
	
	<bean id="cardholderSynchCRM" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.huateng.univer.synch.CRMSynch.impl.CardholderSynchCRMImpl">
			</bean>
		</property>
	</bean>

	<!-- 批次汇总任务 -->
	<bean id="batchDaySumTask" class="com.suning.svc.task.BatchDaySumTask">
		<property name="oneByOneTemplate" ref="oneByOneTemplate" />
	</bean>

	<!-- 零元购批次汇总 -->
	<bean id="orderDaySumBatchService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.suning.svc.coupon.service.impl.OrderDaySumBatchServiceImpl" />
		</property>
	</bean>

	<!-- 零元购SAP -->
	<bean id="sapInfoService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.suning.svc.coupon.service.impl.SapInfoServiceImpl" />
		</property>
	</bean>

	<!-- 发票收交服务 -->
	<bean id="invoiceReceiveService" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.huateng.univer.order.business.service.impl.InvoiceReceiveServiceImpl">
			</bean>
		</property>
	</bean>

	<!-- 临时处理服务 -->
	<bean id="tempDealService" class="com.suning.svc.temp.service.impl.TempDealServiceImpl">
	</bean>
	
   <!-- 批量录入订单 -->
   <bean id="importService"  class="com.allinfinance.batch.importOrder.service.ImportServiceImpl"> </bean>
   <!-- 批量录入黑名单 -->
   <bean id="batchBlackListService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.huateng.univer.seller.seller.blackListService.impl.BlackListServiceImpl">
			</bean>
		</property>
	</bean>

</beans>