<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 批量文件框架总表DAO -->
	<bean id="batchSumDAO" class="com.huateng.framework.ibatis.dao.BatchSumDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 批量文件框架明细表DAO -->
	<bean id="batchDetailDAO" class="com.huateng.framework.ibatis.dao.BatchDetailDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 批量文件框架约束表DAO -->
	<bean id="tblOrderBatchConstrainDAO"
		class="com.huateng.framework.ibatis.dao.TblOrderBatchConstrainDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
		<property name="dataSource" ref="dataSource"></property>
	</bean>	
	<bean id="blackListDAO" class="com.huateng.framework.ibatis.dao.BlackListDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<bean id="databaseDAO" class="com.huateng.framework.dao.impl.DataBaseDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
		<property name="dataSource" ref="dataSource"></property>
		<property name="tableSerialNumberDAO" ref="tableSerialNumberDAO"></property>
	</bean>


	<!-- service define -->
	<bean id="batchCheckQuartz" class="com.huateng.framework.listener.batch.BatchCheckQuartz"
		init-method="init">
		<property name="batchSumDao" ref="batchSumDAO"></property>
		<property name="sellOrderDAO" ref="sellOrderDAO"></property>
		<property name="transactionManager" ref="transactionManager"></property>
	</bean>
	<bean id="commonService" class="com.huateng.framework.common.service.CommonServiceImpl">
		<property name="databaseDao" ref="databaseDAO"></property>
	</bean>

	<bean id="batchServiceImpl"
		class="com.huateng.univer.batchfile.impl.BatchFileTransactionServiceImpl">
		<property name="batchSumDAO" ref="batchSumDAO"></property>
		<property name="databaseDAO" ref="databaseDAO"></property>
		<property name="tblOrderBatchConstrainDAO" ref="tblOrderBatchConstrainDAO"></property>
		<property name="commonService" ref="commonService"></property>
	</bean>

	<bean id="fileBatchService" class="com.huateng.univer.batchfile.action.BatchFileActionImpl">
		<property name="businessMap" ref="handleMap"></property>
		<property name="batchQuartz" ref="batchCheckQuartz"></property>
		<property name="batchFileTransactionService" ref="batchServiceBean"></property>
	</bean>

	<!-- 事务拦截 -->
	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager">
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insertBatchInfo">PROPAGATION_REQUIRES_NEW,-Exception</prop>
			</props>
		</property>
	</bean>

	<bean id="batchServiceBean" class="org.springframework.aop.framework.ProxyFactoryBean"
		scope="prototype">
		<property name="proxyInterfaces">
			<value>com.huateng.univer.batchfile.BatchFileTransactionServiceInterface
			</value>
		</property>
		<property name="target" ref="batchServiceImpl" />
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>

	<!-- 以上内容皆无须更改，每次新增内容添加到下面的business中即可，并且在相应的map中注册business服务 -->

	<!-- business -->
	<!-- 充值激活 -->
	<bean id="businessRechargeAct"
		class="com.huateng.univer.businessbatch.impl.RechargeActBatchServiceImpl">
		<property name="batchSumDAO" ref="batchSumDAO"></property>
		<property name="tblOrderBatchConstrainDAO" ref="tblOrderBatchConstrainDAO"></property>
		<property name="databaseDAO" ref="databaseDAO"></property>
		<property name="sellOrderDAO" ref="sellOrderDAO"></property>
		<property name="orderBO" ref="orderBO"></property>
		<property name="java2ACCBusinessService" ref="java2ACCBusinessService"></property>
	</bean>
	<!-- 充值不激活 -->
	<bean id="businessRecharge"
		class="com.huateng.univer.businessbatch.impl.RechargeBatchServiceImpl">
		<property name="batchSumDAO" ref="batchSumDAO"></property>
		<property name="tblOrderBatchConstrainDAO" ref="tblOrderBatchConstrainDAO"></property>
		<property name="databaseDAO" ref="databaseDAO"></property>
		<property name="sellOrderDAO" ref="sellOrderDAO"></property>
		<property name="java2ACCBusinessService" ref="java2ACCBusinessService"></property>
	</bean>
	<!-- 批量制卡 -->
	<bean id="businessMakeCard"
		class="com.huateng.univer.businessbatch.impl.MakeCardBatchServiceImpl">
		<property name="batchSumDAO" ref="batchSumDAO"></property>
		<property name="tblOrderBatchConstrainDAO" ref="tblOrderBatchConstrainDAO"></property>
		<property name="sellOrderCardListDAO" ref="sellOrderCardListDAO"></property>
		<property name="databaseDAO" ref="databaseDAO"></property>
		<property name="sellOrderDAO" ref="sellOrderDAO"></property>
		<property name="accBatchFileDAO" ref="accBatchFileDAO"></property>
		<property name="cardCompanyDAO" ref="cardCompanyDAO"></property>
		<property name="productDAO" ref="productDAO"></property>
		<property name="commonService" ref="commonService"></property>
		<property name="stockOrderCommonService" ref="stockOrderCommonService"></property>
		<property name="java2ACCBusinessService" ref="java2ACCBusinessService"></property>
	</bean>

	<!-- 批量赎回 -->
	<bean id="businessRansom"
		class="com.huateng.univer.businessbatch.impl.RansomBatchServiceImpl">
		<property name="baseDAO" ref="baseDAO"></property>
		<property name="batchSumDAO" ref="batchSumDAO"></property>
		<property name="tblOrderBatchConstrainDAO" ref="tblOrderBatchConstrainDAO"></property>
		<property name="databaseDAO" ref="databaseDAO"></property>
		<property name="sellOrderDAO" ref="sellOrderDAO"></property>
		<property name="sellOrderOrigCardListDAO" ref="sellOrderOrigCardListDAO"></property>
		<property name="entityStockService" ref="entityStockService"></property>
		<property name="java2ACCBusinessService" ref="java2ACCBusinessService"></property>
	</bean>
	<!-- 批量激活-->
	<bean id="businessAct"
		class="com.huateng.univer.businessbatch.impl.ActBatchServiceImpl">
		<property name="batchSumDAO" ref="batchSumDAO"></property>
		<property name="tblOrderBatchConstrainDAO" ref="tblOrderBatchConstrainDAO"></property>
		<property name="databaseDAO" ref="databaseDAO"></property>
		<property name="sellOrderDAO" ref="sellOrderDAO"></property>
		<property name="orderBO" ref="orderBO"></property>
		<property name="java2ACCBusinessService" ref="java2ACCBusinessService"></property>
	</bean>
	<bean id="handleMap" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="businessRechargeAct" value-ref="businessRechargeAct" />
				<entry key="businessRecharge" value-ref="businessRecharge" />
				<entry key="businessMakeCard" value-ref="businessMakeCard" />
				<entry key="businessRansom" value-ref="businessRansom" />
				<entry key="businessAct" value-ref="businessAct" />
			</map>
		</constructor-arg>
	</bean>


</beans>