*{
	font-size: 3.2mm !important;
	font-family: tahoma, simsun !important;
    font-family: tahoma, simsun;
    font-size: 9pt;
}

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.bt {
    background: transparent url(../images/button_bg.gif) repeat scroll 0
        0;
    border: 1px solid #7DE7FD;
    font-size: 9pt;
    height: 22px;
    cursor: pointer;
}

.bt:HOVER {
    background: transparent url(../images/button_bg2.gif) repeat scroll 0
        0;
    border: 1px solid #C3A336;
}
.noneBtn {
    cursor: pointer;
}
.btn {
    background: transparent url(../images/button_bg.gif) repeat scroll 0 0;
    border: 1px solid #7DE7FD;
    font-size: 9pt;
    height: 22px;
    cursor: pointer;
}

.btn:HOVER {
    background-color: #F0FFE1;
    border: #93B3CA 1px solid;
}

.TableTop {
    font-weight: bold;
    font-size: 12px;
    padding:0 0 0 20px;
}
.TableTopCard {
    font-weight: bold;
    font-size: 12px;
    padding:0 0 0 14px;
}


.TitleHref {
    color:#B5B8BF;
    font-size:8pt;
    margin:10px 0 10px 2px;
}

.no-empty {
    color: red;
}

#ContainBox {
	text-align: -moz-center !important;
    width: 100%;
    text-align:center;
}

.TableTitleFront{
    width:105px;
    height:20px;
    background:url(../images/table/bt01.GIF);
}
.TableTitleFrontBig{
    width:145px;
    height:20px;
    background:url(../images/table/bt01.GIF) no-repeat;
}

.TableTitleEnd{
    background:url(../images/table/bgt02.GIF);
}

div.error, div.message {
    border: 1px solid black;
    padding: 4px;
}

div.error {
/* use a different color for the errors */
    border: 2px solid red;
    background-color:#FFEFEE
}

.errorMessage {
    color:red;
}

.readonly {
    background-color: #EBEBE4;
    border: solid 1px highlight;
}

.watch {
    background-color: #FFFFFF;
    background-position: right;
    background-image: url(../images/icon/watch.gif);
    background-repeat: no-repeat;
    border: solid 1px highlight;
    cursor: pointer;
}
#clickspan {
	cursor: pointer;
	color:blue;
}
.lg_text_gray{
	 border		: solid 1px #7F9DB9;
	 background-color	: #EBEBE4;
	 padding	: 1px;
	 margin		: 0;
}