body, table, td, p, font{font-size:9pt;}
th{font-weight: bold;}
A:link { text-decoration:none;color:#000000}

A:visited { text-decoration:none;color:#000000}

A:Hover {
	text-decoration: underline;position: relative; left: 0px; top: 0px; clip:  rect(   );crosshair;Color:#99ccff}
	color:#FF9900;  }


body,form{
margin-bottom: '0cm';
margin-left:   '0cm';
margin-right:  '0cm';
margin-top:    '0cm';
}


/* visible|hidden */

.pageright{
display:none;
}

.file {   
    background: #eee;   
    color: #111;   
    height:22px;   
    font-size:12px;   
    border:1px solid #000;   
    background:#fff;   
}  

.date {
    
    width:80;
}

.imgDate{
   width:16;
   height:20; 
   border:0;
   vertical-align:top;
}



a:visited {
	font-size: 9pt;
	color: #0033aa;
	text-decoration: none;
	font-family: "Arial";
}


.b:link {
	font-family: "Arial";
	font-size: 9pt;
	color: #006666;
	text-decoration: none;
}

.b:hover {
	font-family: "Arial";
	font-size: 9pt;
	color: #CC0000;
	text-decoration: none;
}



.p:link {
	font-family: "Arial";
	font-size: 9pt;
	color: #666600;
	text-decoration: none;
}

.p:hover {
	font-family: "Arial";
	font-size: 9pt;
	color: #CC0000;
	text-decoration: none;
}


.b_01 {
height:21px;
BORDER: #7EBF4F 1px solid;
PADDING-RIGHT: 3px;
PADDING-LEFT: 1px;
font-family: "Arial";
FONT-SIZE: 9pt;
FONT-COLOR:  #000000;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#B3D997);
CURSOR: hand;
COLOR: #000000;
PADDING-TOP: 3px;

}

.b_02{
height:21px;
BORDER: #7EBF4F 1px solid;
PADDING-RIGHT: 3px;
PADDING-LEFT: 3px;
font-family: "Arial";
font-size: 9pt;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#B3D997);
CURSOR: hand;
COLOR: #000000;
PADDING-TOP: 3px;
}
.bt{ 
PADDING-TOP: 3px;
PADDING-RIGHT: 3px;
PADDING-LEFT: 1px;
padding-bottom:3px;
background:url(../images/bt.gif);
border:1px solid #7DE7FD;
color:#000000;
font-size:10px;
font-family: "Arial";
CURSOR: hand;
height:22px;
text-align:center;
}

.bt_on{ 
PADDING-TOP: 3px;
PADDING-RIGHT: 3px;
PADDING-LEFT: 1px;
padding-bottom:3px;
background:url(../images/button_bg2.gif);
border:1px solid #c3a336;
color:#000000;
font-size:10px;
font-family: "Arial";
CURSOR: hand;
height:22px;
text-align:center;
}

.bthref{ 
PADDING-TOP: 3px;
PADDING-RIGHT: 3px;
PADDING-LEFT: 1px;
padding-bottom:5px;
background:url(../images/bt.gif);
border:1px solid #7DE7FD;
color:#000000;
font-size:10px;
font-family: "Arial";
CURSOR: hand;
height:22px;
text-align:center;
}



.input0 {
	BORDER-RIGHT: #bdc5ca 1px solid; BORDER-TOP: #bdc5ca 1px solid; BACKGROUND: url(../images/button_bg.gif); BORDER-LEFT: #bdc5ca 1px solid; BORDER-BOTTOM: #bdc5ca 1px solid;
	
	margin:2px,1px,0px,1px;
}

.input_on {
	BORDER-RIGHT: #c3a336 1px solid; BORDER-TOP: #c3a336 1px solid; BACKGROUND: url(../images/button_bg2.gif); BORDER-LEFT: #c3a336 1px solid; BORDER-BOTTOM: #c3a336 1px solid;
    
    margin:2px,1px,0px,1px;
}


.excelbutton{
	font-family: "Arial";
	font-size: 9pt;
	color: #666666;
	text-decoration: none;
	height: 24px;
	width: 50px;
	border: 0px none;
	background-attachment: fixed;
	background-image:  url(../images/excel.gif);
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
	vertical-align: middle;
	padding-top: 4px;
	margin-right: 5px;
	margin-left: 5px;
}



.use {
	font-family: "Arial";
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	filter: Shadow(Color=#295A5A, Direction=180);
	text-align: center;
	vertical-align: top;
}




.check {
	border: 0px none;
}




.div0 {
	font-family: "Arial";
	font-size: 9pt;
	font-weight: bolder;
	color: #333333;
	text-decoration: none;
	margin-top: 2px;
	border: 1px solid #B9B9B9;
}



.div1 {
	width:100%;
	border��0px;
	border-top: 0px none;
	border-right: 1px solid #B9B9B9;
	border-bottom: 1px solid #B9B9B9;
	border-left: 1px solid #B9B9B9;
	background-color:  #fbfeff;
	padding: 5px;
}



.div2 {
	border-top: 0px none;
	border-right: 1px solid #B9B9B9;
	border-bottom: 1px solid #B9B9B9;
	border-left: 1px solid #B9B9B9;
	background-image:  url(../images/add_20.jpg);
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.G {
	font-family: "Arial";
	font-size: 8pt;
	color: #666666;
	text-decoration: none;
	background-attachment: fixed;
	background-image:  url(../images/main_17.gif);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	vertical-align: middle;
	height: 18px;
	width: 37px;
	border: 0px none;
}

.warning {
	font-family: "Arial";
	font-size: 11pt;
	color: #CC0000;
	text-decoration: none;
	filter: Shadow(Color=#dfdfdf, Direction=180);
	font-weight: bold;
	line-height: 25px;
}

.active {
	font-family: "Arial";
	font-size: 11pt;
	color: #000000;
    text-decoration: none;
	filter: Shadow(Color=#dfdfdf, Direction=180);
	font-weight: bold;
	line-height: 25px;
}

.notice {
	font-family: "Arial";
	font-size: 11pt;
	color: #996600;
	text-decoration: none;
	filter: Shadow(Color=#dfdfdf, Direction=180);
	font-weight: bold;
	line-height: 25px;
}

.how {
	font-family: "Arial";
	font-size: 11pt;
	color: #006600;
	text-decoration: none;
	filter: Shadow(Color=#dfdfdf, Direction=180);
	font-weight: bold;
	line-height: 25px;
}



.table {
	background-color: #93B3CA;
	cellspacing: 1;
	border: 0;
} 

#table3 {
	cellspacing: 0;
	cellpadding: 0;

}
#table3 td{
	margin:0px,0px,0px,0px;border-width:0,0,0,0; padding:0,0,0,0;  
}

.pages A:link {
	font-family: "Arial";BORDER-RIGHT: #93B3CA 1px solid; PADDING:1px,4px,1px,4px; BORDER-TOP: #93B3CA 1px solid;  MARGIN: 0px 1px 0px 0px; BORDER-LEFT: #93B3CA 1px solid; BORDER-BOTTOM: #93B3CA 1px solid; TEXT-DECORATION: none;
}
.pages A:hover {
	font-family: "Arial";BORDER-RIGHT: #93B3CA 1px solid; BORDER-TOP: #93B3CA 1px solid; BACKGROUND: #B8D5F5; BORDER-LEFT: #93B3CA 1px solid; COLOR: #003300; BORDER-BOTTOM: #93B3CA 1px solid; TEXT-DECORATION: none;PADDING:5px,4px,5px,4px;
}
.pages A:visited { font-family: "Arial";BORDER-RIGHT: #93B3CA 1px solid; PADDING:1px,4px,1px,4px; BORDER-TOP: #93B3CA 1px solid;  MARGIN: 0px 1px 0px 0px; BORDER-LEFT: #93B3CA 1px solid; BORDER-BOTTOM: #93B3CA 1px solid; TEXT-DECORATION: none;}
.pages A:active { font-family: "Arial";BORDER-RIGHT: #93B3CA 1px solid; PADDING:1px,4px,1px,4px; BORDER-TOP: #93B3CA 1px solid;  MARGIN: 0px 1px 0px 0px; BORDER-LEFT: #93B3CA 1px solid; BORDER-BOTTOM: #93B3CA 1px solid; TEXT-DECORATION: none;}


.pages1 A { BORDER-STYLE:none; TEXT-DECORATION: none;}
.pages1 A:hover { BORDER-STYLE:none; TEXT-DECORATION: none ; BACKGROUND: transparent; }

.Pagecheck {BORDER-RIGHT: #93B3CA 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #93B3CA 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; MARGIN: 0px 1px 0px 0px; FONT: 12px/14px verdana; BORDER-LEFT: #93B3CA 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #93B3CA 1px solid;color: #99CC99; }


.b0_3 a{
PADDING:1px,4px,1px,4px;
MARGIN: 0px 1px 0px 0px;
BORDER: #FFFFFF 1px solid;
TEXT-DECORATION: none;
font-weight:lighter;
COLOR: #000000;
}

.b0_3 a:visited { 
BORDER-RIGHT: #FFFFFF 1px solid;
PADDING:1px,4px,1px,4px;
BORDER-TOP: #FFFFFF 1px solid;
MARGIN: 0px 1px 0px 0px;
BORDER-LEFT: #FFFFFF 1px solid;
BORDER-BOTTOM: #FFFFFF 1px solid;
TEXT-DECORATION: none;
font-weight:lighter;
COLOR: #000000;
}

.b0_3 a:hover {
BORDER-RIGHT: #93B3CA 1px solid;
BORDER-TOP: #93B3CA 1px solid;
BORDER-LEFT: #93B3CA 1px solid;
COLOR: #000000;
BORDER-BOTTOM: #93B3CA 1px solid;
TEXT-DECORATION: none;
PADDING:1px,4px,1px,4px;
font-weight:lighter;
background-color:#F0FFE1;
}
.b0_3 a:active  {
BORDER-RIGHT: #93B3CA 1px solid;
BORDER-TOP: #93B3CA 1px solid;
BORDER-LEFT: #93B3CA 1px solid;
COLOR: #000000;
BORDER-BOTTOM: #93B3CA 1px solid;
TEXT-DECORATION: none;
font-weight:lighter;
PADDING:1px,4px,1px,4px;

}
.b0_4{ 
BORDER-RIGHT: #2C59AA 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #2C59AA 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#D7E7FA); BORDER-LEFT: #2C59AA 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #2C59AA 1px solid 
} 


.treeDesc A{
	text-decoration:none;
	COLOR: #000000
}
.treeDesc A:hover {
	text-decoration:none;
	BORDER-RIGHT: #a1c6eb 1px solid;
    BORDER-TOP: #a1c6eb 1px solid; 
    BORDER-LEFT: #a1c6eb 1px solid; 
    BORDER-BOTTOM: #a1c6eb 1px solid; 
    BACKGROUND-COLOR: #e3ebf2;
    PADDING-RIGHT: 8px; 
    COLOR: #000000
}
.treeDesc1 A  {
	text-decoration:none;
	COLOR: #000000
}
.treeDesc A:visited {
	text-decoration:none;
	COLOR: #000000
}


.treeDesc1 A:hover {
	text-decoration:none;
	BORDER-RIGHT: #a1c6eb 1px solid;
    BORDER-TOP: #a1c6eb 1px solid; 
    BORDER-LEFT: #a1c6eb 1px solid; 
    BORDER-BOTTOM: #a1c6eb 1px solid; 
    BACKGROUND-COLOR: #e3ebf2;
    width:112px;
    COLOR: #000000
}
.treeDesc1 A:visited {
	text-decoration:none;
	COLOR: #000000
}
input{
	color:expression(this.type=="text"?"#000000":"style");
}

.tablemng input {
    color:expression(this.type=="text"?"#000000":"style");
	width:expression(this.type=="text"?"170px":"style");
}
.tablemng input[type="text"] {
	width:170px;
}


.tablemng select{
 color:#0099FF;
 width:170px;
}

.tablelist {
	background-color:"#93B3CA";
	width:100%;
	heigth:100%;
	font-family: "Arial";
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}
.tablelist  th{
    text-align: center;
	vertical-align: middle;
	
}




.tablelist td{
	overflow:hidden;
	white-space: nowrap;
	padding:2px}

.tablemng{
	background-color:"#93B3CA";
	width:100%;
	font-family: "Arial";
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

.tdblank {
	background-color:"#FFFFFF";
}

.pageselect{
  font-size: 8pt;
  height:16px;
  margin:1px,1px,1px,1px;
}



.tablemng tr{ background-color:"#CAE1FF";}



.listtr{ background-color:"#B8D5F5";position:relative;top:expression(this.offsetParent.scrollTop);}
.listtr th{
    background-color:"#D9E7F8";
}
.mngwin{display:none;background-color:"#FFFFFF";
}	
	

.listdiv{positon:absolute;width:500;height:300;overflow:scroll;}

.allpage{position:absolute; background-color: #F9F9F9; z-index:10; filter:alpha(opacity=50);}



.b0_3 input{
	width:80px;
	height:18;
	direction:rtl;
}



.ratetext {
	width:100px;
	height:20;
	margin:0 0 0 0 ;
	direction:rtl;
}



.SortDescCss{background-image:url(../images/A1.gif);background-repeat:no-repeat;background-position:right center;}
.SortAscCss{background-image:url(../images/A2.gif);background-repeat:no-repeat;background-position:right center;}

