.ext-ie .x-form-text {
	margin-top: -1px;
	margin-bottom: -1px;
	height: 22px;
	line-height: 18px;
}

p {
	width: 650px;
}

.settings {
	background-image:
		url(plugins/ext/resources/images/default/folder_wrench.png);
}

.nav {
	background-image:
		url(plugins/ext/resources/images/default/folder_go.png);
}

BODY,td,th {
	FONT-SIZE: 12px;
	BACKGROUND: #fff;
	FONT-FAMILY: Tahoma
}

BODY {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}

div {
	WORD-BREAK: break-all;
	WORD-WRAP: break-word
}

a {
	COLOR: #006600;
	TEXT-DECORATION: none
}

a:hover {
	TEXT-DECORATION: underline
}

.guide {
	PADDING-RIGHT: 0.5em;
	PADDING-LEFT: 0.5em;
	PADDING-BOTTOM: 0.5em;
	PADDING-TOP: 0.5em;
}

.guide {
	text-align: right;
}

.guide 	a {
	text-decoration: none;
	padding: 1px 2px 1px 2px;
	margin: 0px 0px;
	border: 1px solid #FFFFFF;
}

.guide a:hover {
	background-color: #F0F8FF;
	text-decoration: none;
	border: 1px solid #FFFFFF;
}

.h {
	PADDING-RIGHT: 0.4em;
	PADDING-LEFT: 0.4em;
	BACKGROUND: url(images/bg.png) #9AC0CD repeat-x 0px -200px;
	PADDING-BOTTOM: 0.2em;
	COLOR: #006600;
	PADDING-TOP: 0.2em;
	BORDER-BOTTOM: #deead2 1px solid;
	TEXT-ALIGN: center
}

.menu {
	BORDER-RIGHT: #deead2 1px solid;
	BORDER-TOP: #deead2 1px solid;
	BACKGROUND: #fff;
	BORDER-LEFT: #deead2 1px solid;
	BORDER-BOTTOM: #deead2 1px solid;
	POSITION: absolute
}

.menu td,th {
	PADDING: 0px;
	BACKGROUND: #fff;
	MARGIN: 0px;
}

.menu LI {
	PADDING: 0px;
	BACKGROUND: #fff;
	MARGIN: 0px;
}

.menu UL {
	PADDING: 0px;
	BACKGROUND: #fff;
	MARGIN: 0px;
}

.menu LI {
	LIST-STYLE-TYPE: none
}

.menu a {
	PADDING-RIGHT: 15px;
	DISPLAY: block;
	PADDING-LEFT: 15px;
	BACKGROUND: #fff;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.menu a:hover {
	BACKGROUND: #E0EEEE;
	COLOR: #000000;
	TEXT-DECORATION: none
}

.menu UL.ul1 LI a {
	PADDING-RIGHT: 0px;
	DISPLAY: inline;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.s1 {
	COLOR: #008000
}

.s2 {
	COLOR: #984b98
}

.s3 {
	COLOR: #fa891b
}

.s4 {
	COLOR: #0033ff
}

.s5 {
	COLOR: #659b28
}

.f_one {
	BACKGROUND: #ffffff
}

.bt {
	height: 21px;
	BORDER: #7EBF4F 1px solid;
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 1px;
	font-family: "Arial";
	FONT-SIZE: 9pt;
	FONT-COLOR: #000000;
	FILTER: progid :   DXImageTransform . Microsoft . Gradient (  
		GradientType =   0, StartColorStr =   #ffffff, EndColorStr =   #B3D997
		);
	CURSOR: hand;
	COLOR: #000000;
	PADDING-TOP: 3px;
}

#loading-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 20000;
	background-color: white;
}

#loading {
	position: absolute;
	left: 45%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
	height: auto;
}

#loading .loading-indicator {
	background: white;
	color: #444;
	font: bold 20px tahoma, arial, helvetica;
	padding: 10px;
	margin: 0;
	height: auto;
}

#loading-msg {
	font: normal 18px arial, tahoma, sans-serif;
}